/* Custom styling for h2 titles (## in markdown) */
h2 {
  color: #385e9d !important;
}

h2 .header-section-number {
  color: #385e9d !important;
}

/* Custom styling for h3 titles (### in markdown) */
h3 {
  color: #841848 !important;
}