/* Custom styling for h2 titles (## in markdown) */
h2 {
  color: #385e9d !important;
}

h2 .header-section-number {
  color: #385e9d !important;
}

/* Custom styling for h3 titles (### in markdown) */
h3 {
  color: #841848 !important;
}

h3 .header-section-number {
  color: #841848 !important;
}

/* Custom styling for h4 titles (#### in markdown) */
h4 {
  color: #ed694b !important;  /* naranja */
  font-weight: bold !important; /* negrita */
}

h4 .header-section-number {
  display: none;  /* oculta la numeración */
}
